<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <h1>IT Academy</h1>

        <h2>Formations disponibles</h2>
    </body>
</html>