<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>IT Academy</h1>
        <h3><%= text %></h3>
        <h2>Entrer votre pseudo</h2>
        <form action="/login" method ="POST">
            <input type="text" name="username" value="<%= username %>" />
            <input type="submit" value="Enregistrer" formaction="/" >
        </form>
    </body>
</html>